/* Reset default styles and set common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #fff;
}

/* Set full height and width for HTML and body */
html,
body {
    height: 100%;
    width: 100%;
}

/* Styling for the main container */
#main {
    min-height: 100%;
    width: 100%;
    background-color: #111;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Styling for the main header */
#main>h1 {
    font-size: 48px;
    display: flex;
    align-items: center;
}

/* Styling for the span within the main header */
#main>h1 span {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

/* Styling for the image within the main header */
#main>h1 span img {
    height: 40px;
    rotate: 90deg; /* Rotate the image */
    transition: 0.3s ease;
}

/* Styling for the endec-div section */
#main #endec-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    border-radius: 10px;
    padding: 8px 8px;
    width: 28%;
    margin: 35px 0;
}

/* Styling for the h3 elements within endec-div */
#endec-div h3 {
    font-size: 17px;
    display: flex;
    border-radius: 8px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    padding: 12px 10px;
    transition: 0.2s ease;
}

/* Styling for the encryption button */
#enc-btn {
    background-color: #333;
}

/* Styling for the span within h3 elements */
#endec-div h3 span {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* Styling for the images within h3 elements */
#endec-div h3 img {
    height: 20px;
}

/* Styling for the encryption section */
#encryption {
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

/* Styling for the h5 elements within encryption */
#encryption h5 {
    font-size: 16px;
    font-weight: 500;
    color: #6e6e6e;
    margin-bottom: 13px;
}

/* Styling for the textarea within encryption */
#encryption textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    background-color: #1C1C1C;
}

/* Styling for the input fields within encryption */
#encryption input {
    width: 100%;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: #1C1C1C;
}

/* Styling for the buttons within encryption */
#encryption button {
    display: flex;
    align-items: center;
    color: #6e6e6e;
    background-color: #1C1C1C;
    border: none;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-size: 17px;
}
button span {
    display: flex;
    margin-right: 10px;
}
button img {
    height: 20px;
}

/* Styling for the decryption section */
#decryption {
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

/* Styling for the h5 elements within decryption */
#decryption h5 {
    font-size: 16px;
    font-weight: 500;
    color: #6e6e6e;
    margin-bottom: 13px;
}

/* Styling for the textarea within decryption */
#decryption textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    background-color: #1C1C1C;
}

/* Styling for the input fields within decryption */
#decryption input {
    width: 100%;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: #1C1C1C;
}

/* Styling for the buttons within decryption */
#decryption button {
    display: flex;
    align-items: center;
    color: #6e6e6e;
    background-color: #1C1C1C;
    border: none;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-size: 17px;
}
button span {
    display: flex;
    margin-right: 10px;
}
button img {
    height: 20px;
}

/* Styling for the result section */
#result {
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #1C1C1C;
    border: 1px solid #343434;
    width: 45%;
    display: none;
    margin-top: 40px;
}